@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffe53b;
  font-family: "Fira Sans", sans-serif;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin-top: 5%;
  position: relative;
  width: 450px;
  height: 500px;
  background: #fff;
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card .box {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 25px;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 100px;
  background: #ccc;
  transition: 0.5s;
  z-index: 10;
  overflow: hidden;
}

h2 {
  text-align: center;
  letter-spacing: 2px;
  margin-top: 12%;
}

.add-task {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
  gap: 4%;
}

input {
  border-radius: 10px;
  height: 34px;
  width: 60%;
  text-align: center;
}

input::placeholder {
  text-align: center;
}

button {
  height: 34px;
  width: 60px;
  border-radius: 10px;
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

span {
  margin-right: 10px;
}

.button-container {
  display: flex;
  align-items: center;
  margin: 0 2px;
}

.complete-button,
.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.complete-button {
  text-decoration: line-through;
  color: #00a437;
}
.delete-button {
  color: red;
}

.button-container {
  display: flex;
  align-items: center;
  margin: 0 5px;
}

ul {
  list-style: number;
  border-radius: 10px;
  width: 77%;
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
  transition: max-height 0.5s;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  transition: transform 0.5s;
}




